@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Esto asegura que no haya desplazamiento horizontal */

}

body{
    font-family: 'Poppins';
    background-color: #EEEEEF;

}

header{
    display: grid;
    grid-template-rows: 1fr auto;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #EEEEEF;
    z-index: 100;
}

.logo-botones-container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 50px;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-container img{
    width: 20vw;
    padding: 1vh 0;

}

.boton-container{
display: flex;    
}
.boton{
font-size: 1rem;
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: #4F0341;
color: white;
text-decoration: none;
border-radius: 10px;
height: 40px;
width: 200px;
margin: 0 10px;
padding: 20px;
transition: all 0.4s;
overflow-x: visible
}

.boton:hover{
    background-color: #6b0758;
}

.boton img{
margin-right: 15px;
}
.boton-container .boton img{
width: 32px;

}

#menu-responsivo{
    display: none;
}
/*menu hamburguesa*/
.abrir-menu{
    font-weight:bolder;
}

.abrir-menu,
 .cerrar-menu{
font-size: 3rem;
cursor: pointer;
display: none;
transition: 0.4s;
font-size: 4.4rem;
color: white;


}

.abrir-menu:hover,
 .cerrar-menu:hover{
  color: #6b0758;

 }

 #check{
    display: none;
 }

.menu-container{
    display: flex;
    justify-content: center;

}


.menu-container a{
font-size: 1.2rem;
font-weight: bold;
text-decoration: none;
background-color: #4F0341;
height: 9vh;
width: 100%;
color: white;
text-align: center;
align-content: center;
outline: none;
border: none;
 /* Evita que el contenido se desborde */
 transition: all 0.4s;


}

.menu-container a:hover{
    background-color: #6b0758;
}

.carrito{
position: relative;
width: 30px;
top: 5px;
}
/*CONTENIDO PRINCIPAL*/
.contenido{
    background-image: url(/src/images/happy-dogs-and-cats.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuadro{
    background-color: #EEEEEF;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: 10vh 0;
    margin-top: 35vh;
    overflow: visible;

}
.cuadro-superior{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: visible;

    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10vh;
    background-color: #00B157;
    color: white;
}

.cuadro-superior h1{
text-align: center;
transform:translateY(-8vh);
padding: 0 8vw;
}

.cuadro-superior img{
    position: absolute;
    width: 10vw;
    top: 40%;
    left: 38%;

}
.cuadro-inferior{
    padding: 10vh 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0vh;
    overflow: visible;

}
.icono-camion{
    overflow: visible;

}
.icono-camion img{
    transform: translateY(45%);
}

/*FOOTET-_________---____________-_-_-_-_-_*/
footer{
    margin-top: 0;
    background-color: #4F0341;
    text-align: center;
    color: white;
    
}
.footer-conteiner{
    display: flex;
    justify-content: space-evenly;

}

.footer-conteiner p{
    font-weight: 300;
}
.footer-conteiner h4{
    font-weight: 600;
}
.logo-footer img{
    margin-top: 90px;
    width: 200px;
}

.horario{
    display: flex;
    flex-direction: column;
}

.horario p{
    margin: 5px 0;
}
.horario h4{
    margin-top: 70px;
}

/*-------------------*/

.contactos{
    display: flex;
    flex-direction: column;
}

.contactos h4{
    margin-top: 70px;

}
/*---*/
.telefono-conteiner{
    display: flex;
    margin: 10px 0;

}
.correo-conteiner{
    display: flex;
    margin: 10px 0;

}

.telefono-conteiner img{
    width: 36px;
    margin-right: 2vh;
}
.correo-conteiner img{
    width: 36px;
    margin-right: 2vh;
}


.redes-sociales{
    display: flex;
    flex-direction: column;
    
}

.redes-sociales h4{
    margin-top: 70px;
}
.redes img{
    margin: 10px 5px;
    width: 40px;
}

/*-_-_-_-_-_-_-_-_-_-_-_*/
.mapa img{
    border-radius: 10px;
    width: 240px;
    margin: 15px 0;
}

@media (max-width: 1024px){
 
/*HEADER*/
    .menu-container a{
        height: 8vh;
    }
    
	
/*CONTENIDO PRINCIPAL*/
.cuadro{
    margin-top: 23vh;
}
.cuadro-superior{
    padding: 5vh;
}
.cuadro-superior h1{
    text-align: center;
    transform:translateY(.4px);
    padding: 0 8vw;
}
.cuadro-superior img{
    left: 42%;
    top: 70%;
}


/*FOOTER*/
    
    .logo-footer{
        display: none;
    }

    .footer-conteiner{
        gap: 3vw;
    }
        
   .horario p{
    font-size: .8rem;
   }
   .contactos p{
    font-size: .8rem;
   }
   .redes{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .redes .yt-icon{
    grid-column: span 2;
    justify-self: center;
   }
}

@media (max-width: 430px){
 
   
    .abrir-menu, .cerrar-menu{
        
        display: block;
        
    }
    .cerrar-menu{
        display: none;
    }
    
    .abrir-menu{
        position: absolute;
        right: 20px;
        top: 10px;
    
    }
    header{
    position: fixed;
    background-color: #4F0341;
    width: 50vw;
    height: 100vh;
    left: -100%;
    top: 0;
    transition: left .8s ease;
    }
    
    .logo-botones-container{
        flex-direction: column;
        width: 100%;
        border: 0;
        padding: 0;
        height: fit-content;
    }   
    
       /*Logo*/
    .logo-container{
        flex: 1;
        justify-content: center;  /* Centra el contenido horizontalmente */
        align-items: center;  /* Centra el contenido verticalmente */
        width: 100%;
        height: auto;
        margin: 0 auto;}
    .logo-container img{
        width: 170px;
        height: auto;  /* Mantén la proporción */
        margin: 0 auto;  /* Centra la imagen horizontalmente */
    }   
    
    /*botontes*/
    .boton-container{
        flex-direction: column;
        position: absolute;
        bottom: 5vh;
    }
    
        
    
    .boton{
        margin-top: 5vh;
        border-radius: 0;
        border-top: 2px solid white  ;
        border-bottom: 2px solid white ;
    }
    /*menu*/
    .menu-container{
        flex-direction: column;
        margin-bottom: 24vh;
    }
    #check:checked + header {
        left: 0; /* Muestra el menú moviéndolo hacia la izquierda */
    }
    
    /*AQUI TERMINA EL HEADER*/
    
    .cuadro{
        margin-top: 15vh;
    }
    .cuadro-superior{
        padding: 5vh 0;
    }
    .cuadro-superior img{
        width: 20vw;
    }

    .cuadro-inferior h2{
        padding: 0 10vw;
    }
    
    
    /*FOOTER*/
    .footer-conteiner{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contactos{
        
        align-items: center;
    }
    
    .redes{
        padding: 0 5vw;
        row-gap: 1vh ;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
    .redes-sociales h4{
        padding: 1vh 0;
    }
    .redes .yt-icon{
        grid-column: span 4;
        justify-self: center;
       }

}